

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-sarif;

}
body{
    background:#081b29;
    color:white;
}
.about{
    background:#081b29;
    color:white; 
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.home_img{
    height:400px;
      width:400px;
       float:right;
       /* margin-left: 300px; */
       border-radius:500px;
       border:15px solid #00abf0;
       box-shadow: 0 0 100px #00abf0;

}
.logo{
   font-size:45px;
   color:#ededed;
   text-decoration:none;
   font-weight:600;

}

.navbar a{
    font-size:18px;
    color:#ededed;
    text-decoration:none;
    font-weight: 500;
    margin-left:35px;
}
.navbar a:hover,
.navbar a.active
{
    color:#00abf0;
}
.home{
    Height:80vh;
  
margin-top:250px;
    align-items:center;
    padding:0 10%;
}
.home_content{
    max-width:600px;
}
.home_content h1{
    font-size:56px;
    font-weight:700;
    line-height:1.2;

}
.home_content h3{
    font-size:32px;
    font-weight:700;
    color:#00abf0;
    
}
.home_content p{
    font-size:16px;
    margin:20px 0 40px;
}
.home_content .btn-box{
    display:flex;
    justify-content:space-between;
 width:345px;
 height:50px;

}
.btn-box a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    width:150px;
    height:100%;
    background: #00abf0;
    border:2px solid #00abf0;
    border-radius:8px;
    font-size:19px;
    color:#081b29;
    text-decoration: none;
    font-weight:600;
    letter-spacing:1px;
    z-index:1;
    overflow:hidden;
    transition:0.5s;
}
.btn-box a:nth-child(2){
background: transparent;
color: #00abf0;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a:nth-child(2):hover{
color:black;
}
.btn-box a:hover{
    color:#00abf0;
}
.btn-box a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background:#081b29;
    z-index: -1;
    transition: .5s;
    /* color:white; */


}
.btn-box a:hover::before{
    width:100%;}

    .btn-box2 a{
        position: relative;
        display:inline-flex;
        justify-content: center;
        align-items:center;
        width:150px;
        height:100%;
        background: #00abf0;
        border:2px solid #00abf0;
        border-radius:8px;
        font-size:19px;
        margin-top:10px;
        color:#081b29;
        text-decoration: none;
        font-weight:600;
        letter-spacing:1px;
        z-index:1;
        overflow:hidden;
        transition:0.5s;
    }
    /* .main{
        margin-top:500px;
    } */
    .btn-box2 a:nth-child(2){
    background: transparent;
    color: #00abf0;
    }
    .btn-box2 a:nth-child(2)::before{
        background: #00abf0;
    }
    .btn-box2 a:nth-child(2):hover{
    color:black;
    }
    .btn-box2 a:hover{
        color:#00abf0;
    }
    .btn-box2 a::before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:0;
        height:100%;
        background:#081b29;
        z-index: -1;
        transition: .5s;
        /* color:white; */
    
    
    }
    .btn-box2 a:hover::before{
        width:100%;

}

.About_Me{
   width:100;
    height:100vh;
    /* border:2px solid white; */
    margin-top:100px;
}
.title{
    /* display:block; */
    /* width:50px; */
    /* margin-top: 10px; */
    margin-left:600px;
    padding:10px;
    /* border:2px solid #00abf0; */
    box-shadow: 0 0 50px #00abf0;
}
.title h2{
    font-size:50px;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
   }
   .skill_img{
       width:50%;
       float:left;
       margin-right: 30px;
       border:5px solid #00abf0;
    border-radius:50px;
       box-shadow: 0 0 50px #00abf0;
   }
   .hot_wings{
       width:50%;
       float:right;
       margin-left: 30px;
       border:5px solid #00abf0;
       border-radius:60px;
       box-shadow: 0 0 50px #00abf0;
   }
   .skill2-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height:2;
   }
   span{
    color:#00abf0;
   }

   .Hobbies{
    width:100;
     height:100vh;

     margin-top:450px;
 }
 .title1{
     
     margin-right:600px;
     padding:10px;
 
     box-shadow: 0 0 30px #00abf0;
 }
 .title1 h2{
    font-size:50px;
}



.desc {
    font-size: 1.1rem;
    font-weight: 500;
    font-size: 30px;;
    text-align: center;
    color: var(--primary);
    margin-bottom: 3rem;
    margin-top:50px;
}

.category_box_section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.category_box {
    width: 350px;
    /* width:400px */
    height: auto;
    background: var(--fourth);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.category_box:hover {
    box-shadow: 2px 5px 15px rgba(163, 151, 151, 0.25);
    transform: translateY(-15px);
}

.cat_img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    border:2px solid #00abf0;
    border-radius:100px;
    box-shadow:0 0 100px #00abf0;
}
.cat_title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color:#00abf0;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease-out;
}

.cat_title:hover.cat_title {
    color:#71bef4;
}
.contact{
    /* border:2px solid white; */
    height:100px;
    width:100%;
}
.contact1{
    margin-left:600px;
    padding:10px;
    /* border:2px solid #00abf0; */
    box-shadow: 0 0 20px #00abf0;  
}
.contact1 h3{
    font-size:20px;
}
.home-sci{
    /* position:absolute; */
    /* bottom:40px; */
    width:500px;
    display:flex;
  justify-content:space-between;
  justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: transparent;
    border:2px solid #00abf0;
    border-radius: 50%;
    box-shadow:0 0 10px #00abf0;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
z-index: 1;
overflow: hidden;
transition:.5s;
}
.home-sci a:hover{
    color:#081b29;
}
.home-sci a::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    background:#00abf0;
    z-index: -1;
    transition:.5s;
}
.home-sci a:hover::before{
width: 100%;
}